html,
body {
    height: 100%;
    overflow: hidden;
    user-select: none;
}

body {
    margin: 0;
    background-color: white; 
}

.CalqueCanvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

/* Menu vertical */

.vertical-menu {
    position: fixed;
    left: 20px;
    top: 20px;
    min-width:300px; 
    min-height: 30%; 
    border: 1px solid;
    border-color:rgb(220, 220, 220);
    background-color: white;
    font-size: 10pt;
}

/* Menu bas droite  */

.menu-bottom-right {
    /*visibility: hidden;*/
    position: fixed;
    right: 5px;
    bottom: 50px; /* attention cette propriété est géré par jquery également */
    color: #808080;
    font-family: 'Segoe UI';
}

/* Menu bas */

#menu-bottom {
    height: 50px;
    background-color:rgb(255, 255, 255);
    font-size: 22pt;
    cursor:default;
    padding: 0px;
    border-width:0px;
    border-top:solid;
    border-top-width:1px;
    border-top-color:gainsboro;
}

#menu-bottom a {
    background-color: rgba(0, 0, 0, 0.00); /* Grey background color */
    color: lightgray;
    text-decoration: none; /* Remove underline from links */
    padding: 10px;
}

#menu-bottom a:hover {
    background-color: #808080; /* Dark grey background on mouse-over */
    color: white;
}

.divider-vertical {
    border-left: 1px solid #a5a5a5;
}